.end {
  margin: 50px 0 800px 0;
}
.contants-main {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
}
.contact-img {
  height: 500px;
  // padding-left: 100px;
  position: relative;
  // left: 290px;
  right: 30px;
  box-shadow: 1px 1px 1px 1px black;
  // width: 300px;
}
.contants {
  position: relative;
  // left: 300px;
  left: 30px;
  top: 15px;
  text-align: left;
  margin: 10px 0 5px 0;
}
.div-contants {
  position: relative;
  // margin-
  display: inline-block;
}

.div-name {
  margin-bottom: 30px;
  font-size: 27px;
}
