.footer {
  // background-color: aqua;
  // max-width: 1500px;
  margin-top: 300px;
  // margin-bottom: 100px;
  height: 100px;
  width: 100%;
  // text-align: left;
  position: relative;
}
.footer-box {
  display: inline-block;
}
.info-item {
  margin-bottom: 2px;
}
.img-footer {
  position: absolute;
  border-radius: 50%;
  height: 110px;

  left: 5px;
  bottom: 50px;
  // height: ;
  // box-shadow: 3px 3px 2px rgb(0, 0, 0);
  // margin-left: 5px;
  // margin-right: 25px;
}
.info-footer {
  // top: 30px;
  text-align: left;
  left: 130px;
  bottom: 90px;
  position: absolute;
}

.sinema {
  position: relative;
  font-size: 14px solid;
  line-height: 20px;
  // bottom: 0;
  top: 45px;
  color: rgb(188, 188, 188);
}
