.main-container {
  position: relative;
  margin: 0 auto 0 auto;
  max-width: 1000px;
}
.first-container {
  display: flex;
  margin-bottom: 50px;
}

.main-photo {
  position: relative;
  display: flex;
  margin: 40px 170px 40px 100px;
  height: 537px;
}

.stats-andName {
  position: relative;
  margin: 40px 0 0 0;
  text-align: left;
}

.actor-name {
  margin-bottom: 50px;
  font-size: 50px;
}

.stats-params {
  margin-bottom: 50px;
}
.player {
  margin: 0 0 0 100px;
}

.dark {
  color: #7e7a79;
}
.info-div {
  position: relative;
}

.drop-btn {
  font-size: 30px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.drop-btn:hover {
  color: white;
}

.drop-contet {
  font-size: 20px;
  &.hide {
    opacity: 0;
    max-height: 0px;
    transition: 0.5s;
  }

  &.show {
    opacity: 1;
    max-height: 1000px;
    transition: 0.5s;
  }
}
.drop-contet {
}
.drop-margin {
  margin-bottom: 30px;
}
.drop-end {
  margin-bottom: 50px;
}

.main-img-container {
  max-width: 1500px;
  margin: 0 auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.more-img {
  margin: 10px;
  height: 320px;
  border-radius: 2px;
}
